NODE_ENV=development

API_HOST=0.0.0.0
API_PORT=3001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fictrio
POSTGRES_USER=fictrio
POSTGRES_PASSWORD=fictrio
DATABASE_URL=postgresql://fictrio:fictrio@localhost:5432/fictrio

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=fictrio
REDIS_PASSWORD=fictrio
REDIS_URL=redis://fictrio:fictrio@localhost:6379

NEXT_PUBLIC_API_URL=http://localhost:3001

TMDB_API_KEY=
TMDB_API_BASE_URL=https://api.themoviedb.org/3

OPEN_LIBRARY_API_BASE_URL=https://openlibrary.org
OPEN_LIBRARY_COVERS_BASE_URL=https://covers.openlibrary.org
