# Frontend
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001

# API
API_PORT=3001

JWT_SECRET=your-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fictrio
POSTGRES_USER=fictrio
POSTGRES_PASSWORD=fictrio

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=fictrio
REDIS_PASSWORD=fictrio

# External metadata import
TMDB_API_KEY=your-api-key
TMDB_REQUEST_DELAY_MS=300
OPEN_LIBRARY_USER_AGENT=MyApp (contact@example.org)
OPEN_LIBRARY_REQUEST_DELAY_MS=1100
