# Traefik
DOMAIN=your-domain.com

TRAEFIK_NETWORK=proxy
TRAEFIK_CERTRESOLVER=le

# Frontend
NEXT_PUBLIC_API_URL=https://your-domain.com/api

# API
JWT_SECRET=your-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h

# PostgreSQL
POSTGRES_DB=fictrio
POSTGRES_USER=fictrio
POSTGRES_PASSWORD=your-password

# Redis
REDIS_USERNAME=fictrio
REDIS_PASSWORD=your-password
