# Traefik
DOMAIN=your-domain.com

TRAEFIK_NETWORK=proxy
TRAEFIK_CERTRESOLVER=le

# Frontend
NEXT_PUBLIC_API_URL=https://your-domain.com/api

# API
JWT_SECRET=your-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h

# PostgreSQL
POSTGRES_DB=fictrio
POSTGRES_USER=fictrio
POSTGRES_PASSWORD=your-password

# Redis
REDIS_USERNAME=fictrio
REDIS_PASSWORD=your-password

# Import
TMDB_API_KEY=your-api-key
TMDB_API_BASE_URL=https://api.themoviedb.org/3
IMPORT_TMDB_MOVIE_PAGES=2
IMPORT_TMDB_SHOW_PAGES=2
IMPORT_TMDB_SEASONS_PER_SHOW=

OPEN_LIBRARY_API_BASE_URL=https://openlibrary.org
OPEN_LIBRARY_COVERS_BASE_URL=https://covers.openlibrary.org
IMPORT_OPEN_LIBRARY_BOOK_LIMIT=50
IMPORT_OPEN_LIBRARY_SUBJECT=fiction
